#title {
    text-align: center;
}

#phrase {
    text-align: center;
}

#map {
    width: 100%;
    height: 400px;
    background-color: rgba(142, 228, 15, 0.308)
}

#registerButton {
    background-color: aquamarine;
}

#searchButton {
    background-color: plum
}

#startButton {
    background-color: bisque
}

#websiteCreation {
    text-align: center;
}

#loginOption{
    text-align: center;
}

#backToMap{
    background-color: pink;
}