<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Add a new food truck form</title>
    <link rel="stylesheet" href="../static/css/style.css">

    <!--bootstrap links:-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>

<body>

    <form form action="/addNewFoodTruck" method="post" id="newFoodTruckForm" class="p-4 border rounded shadow-sm mt-4">
        <h1 class="mb-4 text-primary">Add a new food truck:</h1>

        <input type="hidden" name="companyID" value="{{ company.companyID }}">

        <div class="mb-3">
            <label for="foodTruckname" class="form-label">Food Truck Name:</label>
            <input type="text" class="form-control" id="foodTruckname" name="foodTruckName" placeholder="Enter your food truck name" required>
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Food Truck Location:</label>
            <textarea class="form-control" id="address" name="address" rows="2" placeholder="Enter your food truck address: e.g 123 Main Street, apartment or suite, city, state, zip code and country"
                required></textarea>
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number:</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="e.g. (123) 456-7890" required>
        </div>

        <div class="mb-3">
            <label for="hours" class="form-label">Business Hours:</label>
            <input type="text" class="form-control" id="hours" name="hours" placeholder="e.g. Mon–Fri: 9am–5pm"
                required>
        </div>

        <button type="submit" class="btn btn-primary">Cancel</button>  <!--To do-->
        <button type="submit" class="btn btn-primary">Create</button>
        
    </form>

    <script src="../static/js/addNewFoodTruckForm.js"></script>

    <!--bootstrap link for js:-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>

</body>

<footer>
    <div id="websiteCreation">
        <br>
        <span>Kirkland, WA © 2025 My Food Truck Tracker </span>
        <br>
        <br>
        <span>Credits:</span>
        <br>
        <span>Food truck icons created by amonrat rungreangfangsai - Flaticon</span>
        <br>
        <span>Profile picture icons created by Vector Bazar - Flaticon</span>
    </div>

</footer>

</html>