<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Food Truck Information</title>

    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- bootstrap links: -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
  </head>

  <body>
    <form form action="/updateFoodTruckInfo" method="POST" id="updateFoodTruckForm" class="p-4 border rounded shadow-sm mt-4">
      <h1 class="mb-4 text-primary">Update your food truck information:</h1>

      <input type="hidden" name="food_truck_id" value="{{ truck.food_truck_id }}" />

      <div class="mb-3">
        <label for="foodTruckname" class="form-label">Food Truck Name:</label>
        <input type="text" class="form-control" id="foodTruckname" name="foodTruckName" value="{{ truck.food_truck_name }}" required />
      </div>

      <div class="mb-3">
        <label for="address" class="form-label">Address:</label>
        <textarea class="form-control" id="address" name="address" rows="2" required>{{ truck.full_address }}</textarea>
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Phone Number:</label>
        <input type="tel" class="form-control" id="phone" name="phone" value="{{ truck.phone_number }}" required />
      </div>

      <div class="mb-3">
        <label for="hours" class="form-label">Business Hours:</label>
        <input type="text" class="form-control" id="hours" name="hours" value="{{ truck.business_hours }}" required />
      </div>

      <div>
        <a href="{{ url_for('go2CompanyMainPageAfterLogIn') }}" class="btn btn-secondary"><i class="bi bi-x-circle"></i> Cancel</a>

        <button type="submit" class="btn btn-success"> <i class="bi bi-check-circle"></i> Update</button>
      </div>
    </form>

    <!-- bootstrap link for js: -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

    <footer>
      <div id="websiteCreation">
        <br />
        <span>Kirkland, WA © 2025 My Food Truck Tracker</span>
        <br />
        <br />
        <span>Created by Carmen Albiter</span>
        <br />
      </div>
    </footer>
  </body>
</html>
